.container
{
    margin-top: 5%;
    text-align: center;
}
i
{
    margin-left: 1%;
}
#cardtitle
{
    margin-top: 2%;
 
}
.jumbotron
{
    margin-top: 2%;
}
.btn-danger
{
    margin-top: 2%;
}
#roll
{
    margin-top: 2%;
}