.container
{
    margin-top: 5%;
    text-align: center;
}
i
{
    margin-left: 1%;
}
#cardtitle
{
    margin-top: 2%;
    color: white;
}
.card-footer
{
    color: white;
}
h1
{
    color: white;
}
.jumbotron
{
    margin-top: 2%;
}
.btn-danger
{
    margin-top: 2%;
}
#roll
{
    margin-top: 2%;
}